:root {
  --scrollY: -230px;
  --green: #00EBA6;
  --white: #FFFFFF;
  --gray: #AFB9CB;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #1B1D23;
}

nav {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0 134px;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 122px;
}

.menu_button {
  color: #AFB9CB;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.menu_button:hover {
  color: var(--green);
  transition: color .2s;
}

.--modifier {
  color: var(--green);
}

.right-nav button{
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: 24px;
  border: 2px solid #434343;
  background-color: #1B1D23;
  color: var(--white);
  color: #AFB9CB;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Styles fot the hero */

.Hero {
  display: grid;
  height: 75vh;
  place-items: center;
  margin-top: 0;
}

.Bg-animation {
  width: 100%; 
  height: 600px; 
  background-image: url(/public/Group\ 12.png), url(/public/Group\ 12.png), url(/public/wing1.png);
  background-position: calc(-500px - var(--scrollY)),calc(100% + 500px + var(--scrollY)), calc(100%);
  background-repeat: no-repeat;
}

.Hero-content {
  padding-top: 5rem;
}

.Hero-content-title {
  color: #FFF;
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  max-width: 650px;
  margin-bottom: 72px;
}

.Hero-content-title span {
  color: var(--green);
}

.Hero-content-message {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
}

.Hero-content-input input {
  width: 625px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #E9E9E9;
  background: #1C2028;
  padding-left: 2rem;
  color: #757575;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
}

/* Styles for the table information */

.Table-container {
  padding: 0 134px;
  margin-bottom: 5rem;
}

.Table-information {
  display: flex;
  justify-content: space-between;
  padding: 0 39px;
}

.left-table, .right-table {
  display: flex;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
}

.left-table{
  gap: 35px;
}

.right-table {
  gap: 95px;
}

.Table-content {
  border-radius: 20px;
  background: #25272E;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.25);
}

.order-container {
  display: flex;
  justify-content: space-between;
}

.Table-content-coins-left {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 13px 39px;
}

.Table-content-coins-left img{
  width: 46px;
}

.Table-content-coins-right {
  display: flex;
  align-items: center;
  padding-right: 39px;
}

.Table-content-coins-right p{
  text-align: center;
}

.price, .price_change, .supply {
  width: 99px;
  max-width: 99px;
}

.price {
  margin-right: 4.5rem;
}

.price_change {
  margin-right: 6.2rem;
}

.border {
  border-bottom: 1px solid #6D6D6D;
}

.order-container p{
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
}

.order-container span {
  color: #7A7A7A;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
}

footer {
  width: 100%; 
  height: 610px;
  background: url(/public/footer.png);
  background-repeat: no-repeat;
  background-position: center;
}




